<% if @users.exists? %>
    <table class="table table-striped">
    <thread>
      <tr>
       <th>image</th>
       <th>name</th>
      </tr>
    </thread>
    <% @users.each do |user| %>
     <tbody>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, class: 'user_icon' %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50", class: 'user_icon' %>
          <% end %>
        </td>
        <td>
          <%= link_to user.nickname, user_path(user), class: "text-dark" %>
        </td>
      </tr>
     </tbody>
    <% end %>
    </table>
   <% else %>
    <p>ユーザーはいません</p>
   <% end %>