<div class="top">
  <div>
  <%= image_tag 'toppage', class: "top_image" %>
  <div class="top_text card-img-overlay">
   <p class="text-center pt-4">
    ようこそ！</br>
    ここはあなたがいいな、と思った</br>
    風景写真を共有するサイトです。</br>
    技術に関係なく気軽に投稿してください。
   </p>
  </div>
</div>