<div class="top">
  <div class="text-center mt-5">
   <%= image_tag 'toppage', size: "800x500" %>
   <div class="top_text card-img-overlay">
    <p class="text-center pt-4">
     ようこそ！</br>
     ここはあなたがいいな、と思った</br>
     風景写真を共有するサイトです。</br>
     技術に関係なく気軽に投稿してください。
    </p>
   </div>
  </div>
</div>