<div class="container">
  <div class="row">
   <div class="col-3 border-end">
        <div class="mb-5 ">
          <%= render 'users/mypage', user: @user %>
        </div>

        <%= render 'form', photo: @photo %>
    </div>

    <div class="col-9 d-flex flex-wrap justify-content-center">
     <%= render 'index', photos: @photos, photo_tags: @photo_tags %>
     <div class="text-center">
      <%= paginate @photos, theme: 'bootstrap-5' %>
     </div>
    </div>

  </div>

</div>