<div class="container">
  <h3 class="mt-3 col-4 text-center">タグ: <%= @tag.name %>の投稿一覧</h3>
  <div class="col-9">
    <%= render 'index', photos: @photos %>
    <%= paginate @photos, theme: 'bootstrap-5' %>
  </div>
</div>